/* Use font color derived from the event banner */
h1, h2, h3 {
    color: #185435 !important;
}

/* Smooth scrolling from section to another */
html {
  scroll-behavior: smooth;
}

#workshop-description, #participate, #key-dates, #organization {
    // background-color: #f0f1ea;
    padding-bottom: 2%;
    padding-top: 2%;

}

#workshop-chairs p {
    font-size: 0.8em;
}

/* GIScience logo size on the left panel */
#site-navigation div.navbar_extra_footer {
    max-width: 70%;

}
#site-navigation div.navbar_extra_footer p {
    margin-bottom: 0.15rem;
    font-size: 1em;
    color: #185435;
}
